[user]
    name = Julián Gutiérrez
    email = juliangut@gmail.com

[core]
    autocrlf = input

    excludesfile   = ~/.gitignore
    attributesfile = ~/.gitattributes

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local   = yellow
    remote  = green

[color "diff"]
    meta       = yellow bold
    frag       = magenta bold
    old        = red
    new        = green
    whitespace = white reverse

[color "status"]
    added     = green bold
    updated   = green
    changed   = yellow
    untracked = magenta
    nobranch  = red

[alias]
    clone = clone --recursive

    st      = status -s
    lg      = log --name-only
    lgr     = log --graph --format=format:'%C(bold blue)%h%Creset%C(bold yellow) %d%Creset - %C(cyan)%aD%Creset %Cgreen(%ar)%Creset - %C(magenta)%an%Creset - %s' --abbrev-commit
    history = log -p

    br  = branch -v
    brs = branch -va
    go  = checkout
    co  = checkout

    add     = add --all
    stage   = add
    unstage = reset HEAD
    discard = checkout --

    ci    = commit
    amend = commit --amend --reuse-message=HEAD
    pulla = pull --all
    pusha = push --all

    diff = diff --abbrev
    df   = diff --color-words

    tags  = tag -l
    pullt = fetch --tags
    pusht = push --tags
    retag = "!r() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1; }; r"

    unstash = stash apply

    remotes      = remote -v
    contributors = shortlog --summary --numbered

    ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >> .gitignore

    visual   = !gitg --all &
    conflict = !gitg --left-right HEAD...MERGE_HEAD

[push]
    default = current

[help]
    autocorrect = 1

[diff]
    algorithm = patience
    renames = copies

[diff "exif"]
    textconv = exiftool
