[user]
    name = Julián Gutiérrez
    email = juliangut@gmail.com

[core]
    autocrlf = input

    excludesfile   = ~/.gitignore
    attributesfile = ~/.gitattributes

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local   = yellow
    remote  = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = green

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    clone = clone --recursive

    st      = status
    lg      = log --name-only
    history = log -p

    br       = branch
    go       = checkout
    co       = checkout
    branches = branch -a

    add     = add --all
    stage   = add
    unstage = reset HEAD
    discard = checkout --

    ci    = commit
    amend = commit --amend
    pulla = pull --all
    pusha = push --all

    df = diff

    tags  = tag -l
    pullt = fetch --tags
    pusht = push --tags

    unstash = stash apply

    remotes = remote -v
    contributors = shortlog --summary --numbered

    ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >> .gitignore

    graph    = log --graph --pretty='%C(bold blue)%h%Creset %C(bold yellow)%d%Creset %C(bold green)(%cr)%Creset %C(cyan)%ci%Creset %C(dim white)<%an>%Creset %s' --abbrev-commit --decorate
    visual   = !gitg --all &
    conflict = !gitg --left-right HEAD...MERGE_HEAD

[push]
    default = current

[help]
    autocorrect = 1

[diff]
    renames = copies

[diff "exif"]
    textconv = exiftool
